---
import MDXImage from "@components/mdx/MDXImage.astro";

type Props = {
  gallery: {
    src: string;
    alt: string;
  }[];
};
const props = Astro.props;
---

<section class="section !py-[1.8rem]">
  <div
    class="container-in-section flex-container !flex-row flex-wrap justify-center !gap-1"
  >
    {
      props.gallery.map((image) => (
        <MDXImage
          src={image.src}
          alt={image.alt}
          width={630}
          class="aspect-square h-auto w-full object-cover"
          frameClass="w-[45%] md:w-[212px]"
        />
      ))
    }
  </div>
</section>
