---
import MDXImage from "@components/mdx/MDXImage.astro";

const { offre } = Astro.props;
---

<div class="flex flex-col gap-4 text-left">
  {
    offre?.image && (
      <MDXImage
        src={offre?.image.src}
        alt={offre?.image.alt}
        width={630}
        class="w-full lg:w-[321px]"
      />
    )
  }
  <h3 class="lg:px-4">{offre.title}</h3>
  <p class="text-[0.94737rem] lg:px-4 lg:text-[0.94737rem]">
    {offre.base_line}
  </p>
  <p
    class="text-[0.84211rem] italic text-black opacity-50 lg:px-4 lg:text-[0.84211rem]"
  >
    {
      offre.text
        .split(" ")
        .map((tag) => (
          <span class="mx-1 inline-block whitespace-nowrap">
            {tag.trim().split("_").join(" ")}
          </span>
        ))
    }
  </p>
</div>
