/* The integration's default injected base.css file */
/* ./src/styles/base.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
@layer base {
  @font-face {
    font-family: "Mesmerize";
    src:
      local("Mesmerize Condensed"),
      url("/fonts/mesmerize-sc-bd.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  /* @font-face {
    font-family: "Mesmerize";
    src:
      local("Mesmerize Condensed"),
      url("/fonts/mesmerize-cd-rg.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */
  html,
  p,
  body {
    @apply font-arial text-[19px];
  }

  h2 {
    @apply font-mesmerize text-h2 font-extrabold text-primary;
    /* font-family: "Mesmerize"; */
    &.title-box {
      @apply inline-block w-fit flex-none bg-neutre px-4 py-[2px] transition-all hover:-translate-y-2 hover:-rotate-2;
    }
  }
  h3 {
    @apply text-h3 font-bold;
  }
}

/* components styles */
@layer components {
  [data-menu="Principal"] {
    @apply text-nav-principal;
    [data-navlink] {
      @apply px-2 py-1 hover:bg-white;
    }
    [aria-current="page"] {
      @apply !bg-white;
    }
  }
  .strongiswhite strong {
    @apply bg-white px-1 font-normal;
  }
  .btn {
    @apply inline-block px-4 py-2 font-black text-neutre transition-all hover:-translate-y-2 hover:-rotate-2;
    &.btn-primary {
      @apply bg-primary text-neutre;
    }
    &.btn-transparent {
      @apply bg-transparent text-neutre;
    }
  }
  .section {
    @apply py-[2.95rem];
    .container-in-section {
      @apply container mx-auto flex max-w-screen-xl flex-col items-center gap-5;
    }
    .markdown {
      @apply mx-auto w-[80%] whitespace-pre-line;
    }
    .markdown-full {
      @apply whitespace-pre-line;
    }
    &.gris-1 {
      @apply bg-gris-1;
    }
  }
  .image-frame {
    @apply relative;
    &::before {
      @apply absolute -left-2 -top-2 z-10 h-[20%] w-[30%] bg-primary;
      content: "";
    }
    img {
      @apply relative z-20;
    }
    &::after {
      @apply absolute -bottom-2 -right-2 z-10 h-[40%] w-[15%] bg-primary;
      content: "";
    }
  }
  .testimonial {
    --ng-width: 430px;
    @apply container mx-auto grid max-w-screen-xl gap-5;
    .testimonial-container {
      @apply mb-14 !auto-cols-[var(--ng-width)] gap-1;
    }
    .testimonial__card {
      @apply flex min-w-[var(--ng-width)] bg-primary p-5;
    }
    .testimonial__content {
      @apply flex flex-col items-center justify-between gap-4;
      .testimonial__text {
        @apply text-center;
      }
      .testimonial__author {
        @apply text-neutre-content inline-block w-fit flex-none bg-neutre px-4 py-2 text-center text-[0.84211rems] transition-all;
      }
    }
  }
}
