/* The integration's default injected base.css file */
/* ./src/styles/base.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
@layer base {
  @font-face {
    font-family: "Mesmerize";
    src:
      local("Mesmerize Condensed"),
      url("/fonts/mesmerize-sc-bd.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  /* @font-face {
    font-family: "Mesmerize";
    src:
      local("Mesmerize Condensed"),
      url("/fonts/mesmerize-cd-rg.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */
  html,
  p,
  body {
    @apply font-arial text-[19px];
  }

  h2 {
    @apply font-mesmerize text-h2 font-extrabold text-primary;
    /* font-family: "Mesmerize"; */
    &.title-box {
      @apply inline-block w-fit flex-none bg-neutre px-4 py-[2px];
    }
  }
  h3 {
    @apply text-h3 font-bold;
  }
}

/* components styles */
@layer components {
  [data-menu="Principal"] {
    @apply text-nav-principal;
    [data-navlink] {
      @apply px-2 py-1 hover:bg-white;
    }
    [aria-current="page"] {
      @apply bg-white;
    }
  }
  .strongiswhite strong {
    @apply bg-white px-1 font-normal;
  }
}
