/* The integration's default injected base.css file */
/* ./src/styles/base.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
@layer base {
  @font-face {
    font-family: "Mesmerize";
    src:
      local("Mesmerize Condensed"),
      url("/fonts/mesmerize-sc-bd.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  /* @font-face {
    font-family: "Mesmerize";
    src:
      local("Mesmerize Condensed"),
      url("/fonts/mesmerize-cd-rg.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */
  html,
  p,
  body {
    @apply font-arial text-[19px];
  }
  html {
    @apply scroll-smooth;
  }

  h2 {
    @apply text-h2-mobile font-bold lg:text-h2;
    &.home {
      @apply font-mesmerize font-extrabold text-primary;
    }
    /* font-family: "Mesmerize"; */
    &.title-box {
      @apply inline-block w-fit flex-none bg-neutre px-4 py-[2px] transition-all hover:-translate-y-2 hover:-rotate-2;
    }
  }
  h3 {
    @apply text-h3-mobile font-bold lg:text-h3;
  }
}

/* components styles */
@layer components {
  [data-menu="Principal"] {
    @apply text-nav-principal;
    [data-navlink] {
      @apply px-2 py-1 hover:bg-white;
    }
    [aria-current="page"] {
      @apply !bg-white;
    }
  }
  .home [data-menu="Principal"] [aria-current="page"] {
    @apply !bg-primary lg:!bg-white;
  }
  [data-menu="Secondary"] {
    [data-navlink] {
      @apply px-1 py-0 hover:bg-white;
    }
    [aria-current="page"] {
      @apply !bg-white;
    }
  }
  .strongiswhite strong {
    @apply bg-white px-1 font-normal;
  }
  .btn {
    @apply inline-flex flex-row items-center gap-1 px-4 py-2 text-neutre transition-all  hover:-translate-y-1 hover:-rotate-1;
    &.btn-fat {
      @apply font-black;
    }
    &.btn-primary {
      @apply bg-primary text-neutre;
    }
    &.btn-white {
      @apply bg-transparent text-white hover:text-neutre;
      &[aria-current="page"] {
        @apply text-neutre;
      }
    }
    &.btn-transparent {
      @apply bg-transparent text-neutre;
    }
  }
  .section {
    @apply py-[2.95rem];

    .container-in-section {
      @apply container mx-auto max-w-screen-xl;
      &.flex-container {
        @apply flex flex-col items-center gap-5;
      }
    }
    &.gris-1 {
      @apply bg-gris-1;
    }
  }
  .markdown {
    @apply mx-2 whitespace-pre-line lg:mx-auto lg:w-[80%];
    a {
      @apply !underline;
    }
    > p:last-child {
      @apply mb-0;
    }
  }
  .markdown-full {
    @apply whitespace-pre-line;
  }
  .image-frame {
    @apply relative;
    &::before {
      @apply absolute -left-2 -top-2 z-10 h-[20%] w-[30%] bg-primary;
      content: "";
    }
    img {
      @apply relative z-20;
    }
    &::after {
      @apply absolute -bottom-2 -right-2 z-10 h-[40%] w-[15%] bg-primary;
      content: "";
    }
  }
  .testimonial {
    --ng-width: 430px;
    --ng-width-mobile: 350px;
    @apply container mx-auto grid max-w-screen-xl gap-5;
    .testimonial-container {
      @apply !auto-cols-[var(--ng-width-mobile)] gap-1 md:!auto-cols-[var(--ng-width)];
    }
    .testimonial__card {
      @apply flex min-w-[var(--ng-width-mobile)] bg-primary p-5 md:min-w-[var(--ng-width)];
    }
    .testimonial__content {
      @apply flex flex-col items-center justify-between gap-4;
      .testimonial__text {
        @apply text-center;
      }
      .testimonial__author {
        @apply text-neutre-content inline-block w-fit flex-none bg-neutre px-4 py-2 text-center text-[0.84211rems] transition-all;
      }
    }
  }
}
