---
import MDXImage from "./mdx/MDXImage.astro";

type Props = {
  title: string;
  image?: string;
};
const { title, image } = Astro.props;
---

<section
  class="relative z-0 flex h-[13.42105rem] items-center overflow-hidden bg-primary py-8 lg:h-[15.26316rem]"
>
  {
    image && (
      <MDXImage
        width={1600}
        src={image}
        alt={title}
        class="absolute left-0 top-0 h-full w-full object-cover"
      />
    )
  }
  <h1
    class="text-h1-mobile lg:text-h1 container z-0 text-center font-mesmerize"
    set:html={title}
  />
</section>
