---
import { Icon } from "astro-icon/components";

const props = Astro.props;
---

<div class="container sticky bottom-2 mx-auto flex max-w-screen-xl justify-end">
  <a href="#top" class="w-[37px] transition-all hover:-translate-y-1"
    ><Icon name="lift" width={37} height={37} title="Retour haut de page" />
    <span class="sr-only">Retour haut de page</span></a
  >
</div>
