---
// library imports
import { Icon } from "astro-icon/components";

// component imports
import MDXImage from "@components/mdx/MDXImage.astro";
import NavRoot from "@components/navigation/NavRoot.astro";
// data imports
import navPrimary from "@data/navDataPrimary.json";
import SimpleMardownRender from "./SimpleMardownRender.astro";

const navDesignClasses: NavClassConfig = {
  navRoot:
    "container mx-auto max-w-screen-xl z-20 flex flex-wrap items-center justify-end",
  ulList:
    "mb-0 text-[1.4375rem] my-4 hidden md:flex flex-col flex-wrap items-start justify-center gap-2 p-4 font-medium md:mt-0 md:flex-row md:space-x-8 md:p-0 lg:items-center rtl:space-x-reverse",
  menu: {
    button: "btn btn-primary",
    ulList:
      "flex w-full flex-col divide-y divide-gray-100 rounded-lg bg-white shadow before:h-4 after:h-4 dark:divide-gray-600 dark:bg-gray-700",
  },
  link: (isButton) => {
    return isButton ? [`btn btn-primary`] : [`btn btn-transparent`];
  },
  mobileButton: {
    button:
      "inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 md:hidden dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600",
    svg: "h-5 w-5",
  },
};

const { homeData } = Astro.props;
---

<header
  id="top"
  class="relative z-10 flex h-[27.21053rem] items-center justify-center bg-primary"
>
  <div class="z-20 flex flex-col items-center justify-center gap-10">
    <a href="/" class="" title="Retour à l'accueil">
      <Icon
        name="logomark"
        width={372}
        height={60}
        class="ml-2 aspect-[372/60] h-auto w-[23.25rem] text-neutre md:w-[23.25rem] lg:ml-0"
      />
    </a>
    <SimpleMardownRender
      markdown={homeData.hero_text}
      classes="strongiswhite text-center max-w-[48.9375rem] *:text-hero-home"
    />
  </div>
  <div class="absolute right-0 top-2 z-20 w-full">
    <NavRoot
      menuName="Principal"
      navDesignConfig={navDesignClasses}
      hasMobileButton
      menuData={navPrimary}
    />
    {/* logo + lien */}
    {
      /* 
    <a
    slot="firstPlaceHolder"
    href="/"
    class="top-[calc(50%] absolute left-[calc(50%)]"
    title="Retour à l'accueil"
    >
    <Icon
    name="logomark"
    width={201}
    height={32}
    class="ml-2 w-[201px] text-neutre md:w-[201px] lg:ml-0"
    />
  </a>
    */
    }
  </div>
  <MDXImage
    src={homeData.hero_bg}
    alt="hero-background"
    width={1440}
    class="absolute left-0 top-0 z-10 h-[27.21053rem] w-full object-cover"
  />
</header>
